<div id="form">
  <form id="new_comment" action="/post_comment" method="POST">     
    <textarea id="comment" rows="5" cols="73" name="comment"></textarea>
    <br><br>
    <input id="authorName" type="text" name="author">
    <br><br>
    <input type="submit" value="Submit" id="submit">
  </form>
</div>